AxRetailSOAPI/Connected Services/AxRetailSOLog/STMSalesOrderDailyLog7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyLog?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyLog?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/AxdSTMSalesSoLog" />
  <xs:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyLog?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:element name="AxdSTMSalesSoLogServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q1:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxdSTMSalesSoLogServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/AxdSTMSalesSoLog" minOccurs="0" ref="q2:AxdSTMSalesSoLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxdSTMSalesSoLogServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q3:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxdSTMSalesSoLogServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/AxdSTMSalesSoLog" minOccurs="0" ref="q4:AxdSTMSalesSoLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxdSTMSalesSoLogServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2008/01/documents/AxdSTMSalesSoLog" minOccurs="0" ref="q5:AxdSTMSalesSoLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AxdSTMSalesSoLogServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q6:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>