AxRetailSOAPI/Connected Services/AxRetailSOLine/STMSalesOrderDailyLine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/dynamics/2008/01/documents/STMSODailyLine" xmlns:st="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/dynamics/2008/01/documents/STMSODailyLine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyLine?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
  <xs:element name="STMSODailyLine" type="tns:AxdSTMSODailyLine" />
  <xs:complexType name="AxdSTMSODailyLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClearNilFieldsOnUpdate" nillable="true" type="st:AxdEnum_boolean" />
      <xs:element minOccurs="0" name="DocPurpose" nillable="true" type="st:AxdEnum_XMLDocPurpose" />
      <xs:element minOccurs="0" name="SenderId" nillable="true" type="st:AxdExtType_DataAreaId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StmSalesSoDailyLine" type="tns:AxdEntity_StmSalesSoDailyLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxdEntity_StmSalesSoDailyLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="_DocumentHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="RecId" nillable="true" type="st:AxdExtType_RecId" />
      <xs:element minOccurs="0" name="RecVersion" nillable="true" type="st:AxdExtType_RecVersion" />
      <xs:element minOccurs="0" name="SalesAmount" nillable="true" type="st:AxdExtType_SalesAmount" />
      <xs:element minOccurs="0" name="SalesDate" nillable="true" type="xs:date" />
      <xs:element minOccurs="0" name="SalesOrderDaily" nillable="true" type="st:AxdType_Int64" />
      <xs:element minOccurs="0" name="SalesPoolId" nillable="true" type="st:AxdExtType_SalesPoolId" />
      <xs:element minOccurs="0" name="SalesQty" nillable="true" type="st:AxdExtType_SalesQty" />
      <xs:element minOccurs="0" name="Series" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="Sink" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
      <xs:element minOccurs="0" name="StmStoreId" nillable="true" type="st:AxdUnion_AxdType_Str_AxdType_ExtCodeValue" />
    </xs:sequence>
    <xs:attribute fixed="entity" name="class" use="required" />
    <xs:attribute name="action" type="st:AxdEnum_AxdEntityAction" />
  </xs:complexType>
</xs:schema>