AxRetailSOAPI/Connected Services/AxRetailSOImages/STMSalesOrderDailyImage6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org" elementFormDefault="qualified" targetNamespace="http://tempuri.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
  <xs:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/STM_SalesImage" />
  <xs:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
  <xs:element name="STM_SalesImageServiceReadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q1:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STM_SalesImageServiceReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/STM_SalesImage" minOccurs="0" ref="q2:STM_SalesImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STM_SalesImageServiceUpdateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q3:EntityKeyList" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/STM_SalesImage" minOccurs="0" ref="q4:STM_SalesImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STM_SalesImageServiceUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="STM_SalesImageServiceDeleteRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q5:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STM_SalesImageServiceDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="STM_SalesImageServiceFindRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" minOccurs="0" ref="q6:QueryCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STM_SalesImageServiceFindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/dynamics/2008/01/documents/STM_SalesImage" minOccurs="0" ref="q7:STM_SalesImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STM_SalesImageServiceCreateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/STM_SalesImage" minOccurs="0" ref="q8:STM_SalesImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="STM_SalesImageServiceCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" minOccurs="0" ref="q9:EntityKeyList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>