AxRetailSOAPI/Connected Services/AxRetailSOImages/STMSalesOrderDailyImage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd7" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd3" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/STM_SalesImage" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDailyImage?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="STM_SalesImageServiceReadRequest">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceReadRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceReadResponse">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceDeleteRequest" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceDeleteRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceDeleteResponse">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageService_delete_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceFindRequest">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceFindRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceFindResponse">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceCreateRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:STM_SalesImageServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="STM_SalesImageService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:portType name="STM_SalesImageService">
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/STM_SalesImageService/read" name="STM_SalesImageServiceReadRequest" message="tns:STM_SalesImageServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STM_SalesImageService/readResponse" name="STM_SalesImageServiceReadResponse" message="tns:STM_SalesImageServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STM_SalesImageService/readAifFaultFault" name="AifFaultFault" message="tns:STM_SalesImageService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/STM_SalesImageService/update" name="STM_SalesImageServiceUpdateRequest" message="tns:STM_SalesImageServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STM_SalesImageService/updateResponse" name="STM_SalesImageServiceUpdateResponse" message="tns:STM_SalesImageServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STM_SalesImageService/updateAifFaultFault" name="AifFaultFault" message="tns:STM_SalesImageService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/STM_SalesImageService/delete" name="STM_SalesImageServiceDeleteRequest" message="tns:STM_SalesImageServiceDeleteRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STM_SalesImageService/deleteResponse" name="STM_SalesImageServiceDeleteResponse" message="tns:STM_SalesImageServiceDeleteResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STM_SalesImageService/deleteAifFaultFault" name="AifFaultFault" message="tns:STM_SalesImageService_delete_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/STM_SalesImageService/find" name="STM_SalesImageServiceFindRequest" message="tns:STM_SalesImageServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STM_SalesImageService/findResponse" name="STM_SalesImageServiceFindResponse" message="tns:STM_SalesImageServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STM_SalesImageService/findAifFaultFault" name="AifFaultFault" message="tns:STM_SalesImageService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/STM_SalesImageService/create" name="STM_SalesImageServiceCreateRequest" message="tns:STM_SalesImageServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/STM_SalesImageService/createResponse" name="STM_SalesImageServiceCreateResponse" message="tns:STM_SalesImageServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/STM_SalesImageService/createAifFaultFault" name="AifFaultFault" message="tns:STM_SalesImageService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>