AxRetailSOAPI/Connected Services/AxRetailSO/STMSalesOrderDaily.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd7" namespace="http://tempuri.org" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd8" namespace="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd10" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd1" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKeyList" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd2" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/EntityKey" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd3" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd4" namespace="http://schemas.microsoft.com/dynamics/2006/02/documents/QueryCriteria" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd5" namespace="http://schemas.microsoft.com/dynamics/2008/01/documents/SalesDaily" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd6" namespace="http://schemas.microsoft.com/dynamics/2008/01/sharedtypes" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://aoslive:8101/DynamicsAx/Services/STMSalesOrderDaily?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Microsoft.Dynamics.AX.Framework.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SalesDailyServiceDeleteRequest">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceDeleteRequest" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceDeleteRequest_Headers">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q1:CallContext" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceDeleteResponse">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SalesDailyService_delete_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q2:AifFault" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceUpdateRequest">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceUpdateRequest" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceUpdateRequest_Headers">
    <wsdl:part xmlns:q3="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q3:CallContext" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceUpdateResponse">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SalesDailyService_update_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q4:AifFault" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceReadRequest">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceReadRequest" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceReadRequest_Headers">
    <wsdl:part xmlns:q5="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q5:CallContext" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceReadResponse">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceReadResponse" />
  </wsdl:message>
  <wsdl:message name="SalesDailyService_read_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q6:AifFault" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceCreateRequest">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceCreateRequest" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceCreateRequest_Headers">
    <wsdl:part xmlns:q7="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q7:CallContext" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceCreateResponse">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceCreateResponse" />
  </wsdl:message>
  <wsdl:message name="SalesDailyService_create_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q8:AifFault" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceFindRequest">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceFindRequest" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceFindRequest_Headers">
    <wsdl:part xmlns:q9="http://schemas.microsoft.com/dynamics/2010/01/datacontracts" name="context" element="q9:CallContext" />
  </wsdl:message>
  <wsdl:message name="SalesDailyServiceFindResponse">
    <wsdl:part name="parameters" element="tns:SalesDailyServiceFindResponse" />
  </wsdl:message>
  <wsdl:message name="SalesDailyService_find_AifFaultFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.microsoft.com/dynamics/2008/01/documents/Fault" name="detail" element="q10:AifFault" />
  </wsdl:message>
  <wsdl:portType name="SalesDailyService">
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/SalesDailyService/delete" name="SalesDailyServiceDeleteRequest" message="tns:SalesDailyServiceDeleteRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/SalesDailyService/deleteResponse" name="SalesDailyServiceDeleteResponse" message="tns:SalesDailyServiceDeleteResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/SalesDailyService/deleteAifFaultFault" name="AifFaultFault" message="tns:SalesDailyService_delete_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/SalesDailyService/update" name="SalesDailyServiceUpdateRequest" message="tns:SalesDailyServiceUpdateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/SalesDailyService/updateResponse" name="SalesDailyServiceUpdateResponse" message="tns:SalesDailyServiceUpdateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/SalesDailyService/updateAifFaultFault" name="AifFaultFault" message="tns:SalesDailyService_update_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/SalesDailyService/read" name="SalesDailyServiceReadRequest" message="tns:SalesDailyServiceReadRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/SalesDailyService/readResponse" name="SalesDailyServiceReadResponse" message="tns:SalesDailyServiceReadResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/SalesDailyService/readAifFaultFault" name="AifFaultFault" message="tns:SalesDailyService_read_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/SalesDailyService/create" name="SalesDailyServiceCreateRequest" message="tns:SalesDailyServiceCreateRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/SalesDailyService/createResponse" name="SalesDailyServiceCreateResponse" message="tns:SalesDailyServiceCreateResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/SalesDailyService/createAifFaultFault" name="AifFaultFault" message="tns:SalesDailyService_create_AifFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/SalesDailyService/find" name="SalesDailyServiceFindRequest" message="tns:SalesDailyServiceFindRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/SalesDailyService/findResponse" name="SalesDailyServiceFindResponse" message="tns:SalesDailyServiceFindResponse" />
      <wsdl:fault wsaw:Action="http://tempuri.org/SalesDailyService/findAifFaultFault" name="AifFaultFault" message="tns:SalesDailyService_find_AifFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>